In [ ]:
import pandas as pd
from helpers.dataPreprocessing import quantize_time


input_path = 'Data/Raw Data/'
output_path = 'Data/Cleaned Data/'


def clean_race_telemetry(file_name="Race Telemetry.xlsx"):
    lap_info = pd.read_excel(input_path + file_name)
    lap_info = lap_info[lap_info['TrackStatus'] == 1]
    lap_info = lap_info[lap_info['Deleted'] == False]
    lap_info = lap_info.drop(['TrackStatus', 'Deleted'], axis=1)
    lap_info = quantize_time(lap_info, time_col='LapStartTime')
    lap_info = lap_info.drop('location', axis=1)
    lap_info = lap_info.drop('LapStartTime', axis=1)

    lap_info = lap_info.drop(['Sector1Time', 'Sector2Time', 'Sector3Time'], axis=1)
    lap_info = lap_info.drop('IsPersonalBest', axis=1)
    
    lap_info.to_excel(
            output_path + file_name,
            index=False
        )

    return lap_info

clean_race_telemetry()

,year,round,Driver,LapTime,LapNumber,Compound,TyreLife,LapStartTimeQuant
0,2023,1,1,98.006,3,SOFT,6,76
1,2023,1,1,97.976,4,SOFT,7,78
2,2023,1,1,98.035,5,SOFT,8,80
3,2023,1,1,97.986,6,SOFT,9,81
4,2023,1,1,98.021,7,SOFT,10,83
...,...,...,...,...,...,...,...,...
975,2023,1,81,101.534,9,SOFT,9,88
976,2023,1,81,101.584,10,SOFT,10,90
977,2023,1,81,101.352,11,SOFT,11,92
978,2023,1,81,101.156,12,SOFT,12,94
979,2023,1,81,122.071,13,SOFT,13,96